@model IEnumerable<JneCommSitesDataLayer.AspNetRoles>
@using JneCommSitesManagement.Helper

@{
    ViewBag.Title = "Roles Index";
}

@{
    var queryCrewRol = Helper.GetCrewRoleByUser(User.Identity.Name);
    if (queryCrewRol != null)
    {
            Layout = "~/Views/Shared/_LayoutCrewJneCommSites.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutJneCommSites.cshtml";
    }

}

<h3 class="text-info">Web Roles List</h3>

<p>
    <a href='@Url.Action("CreateRol", "Maintenance")'>
        <img src="~/Content/Jne Icons/AddRoleIcon.png" /> Add Web Role
    </a>
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRol", new { rolName = item.Name }) 
        </td>
    </tr>
}

</table>
