@model IEnumerable<JneCommSitesDataLayer.vwUserData>
@using JneCommSitesManagement.Helper;

@{
    ViewBag.Title = "User Index";
}

@{
    var queryCrewRol = Helper.GetCrewRoleByUser(User.Identity.Name);
    if (queryCrewRol != null)
    {
            Layout = "~/Views/Shared/_LayoutCrewJneCommSites.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutJneCommSites.cshtml";
    }

}

<h3 class="text-info">Web Users List</h3>

<p>
    <a href='@Url.Action("CreateUser", "Maintenance")'>
        <img src="~/Content/Jne Icons/AddUserIcon.png" />Add Web User
    </a>
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("UserName")
        </th>
        <th>
            @Html.DisplayName("FirstName")
        </th>
        <th>
            @Html.DisplayName("LastName")
        </th>
        <th>
            @Html.DisplayName("Is Lockout")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEnabled)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new {  userName=item.UserName })
        </td>
    </tr>
}

</table>
