@model JneCommSitesManagement.Models.ActivityLogsPurchase

@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_LayoutCrewJneCommSites.cshtml";
}

<h2>Purchase - Compra @ViewBag.Tittle</h2>

@using (Html.BeginForm("Purchase", "Mobile", FormMethod.Post, new { enctype = "multipart/form-data", id = "formPurchase" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.sitePurchase, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.sitePurchase, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.sitePurchase, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.purchaseType, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.purchaseType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.purchaseType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.startPurchaseCheckPoint, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.startPurchaseCheckPoint, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.startPurchaseCheckPoint, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.documentToUpload, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.documentToUpload, new { type = "file", accept = "image/png, image/jpeg", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.documentToUpload, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-0 col-md-12">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>


        

    </div>
}


<div id="dialog" title="Invoice - Factura">
    <img id="CertificationImage" src="" />
</div>




<table class="table-bordered table-hover" style="min-width:100%">
    <tr class="alert-info">
        <th>
            Description / Descripcion
        </th>
        <th>
            Date Purchase / Dia compra
        </th>
        <th>
            Invoice - Factura
        </th>
    </tr>
    <tr ng-repeat="item in contacts">
        <td>
            {{item.description}}
        </td>
        <td>
            {{item.purchaseDate}}
        </td>
        <td>
            <button class="btn btn-success" ng-click="ShowImage(item.invoiceName)">Show Invoice</button>
        </td>
    </tr>
</table>


<div>
    @Html.ActionLink("Back to Activity Log option", "CreateActivityLogOptions")
</div>


@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/angular.js")
@Scripts.Render("~/Scripts/Json.js")
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/images/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/images/theme.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            var d = new Date;
            var actualDate = formatDate(d, 4);
            $("#startPurchaseCheckPoint").val(actualDate);
            window.setInterval(updateCheckPoint, 500000);
        });

        function updateCheckPoint() {
            var d = new Date;
            var actualDate = formatDate(d, 4);
            $("#startPurchaseCheckPoint").val(actualDate);
        }


        function formatDate(dateObj, format) {
            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var curr_date = dateObj.getDate();
            var curr_month = dateObj.getMonth();
            curr_month = curr_month + 1;
            var curr_year = dateObj.getFullYear();
            var curr_min = dateObj.getMinutes();
            var curr_hr = dateObj.getHours();
            var curr_sc = dateObj.getSeconds();
            if (curr_month.toString().length == 1)
                curr_month = '0' + curr_month;
            if (curr_date.toString().length == 1)
                curr_date = '0' + curr_date;
            if (curr_hr.toString().length == 1)
                curr_hr = '0' + curr_hr;
            if (curr_min.toString().length == 1)
                curr_min = '0' + curr_min;

            if (format == 1)//dd-mm-yyyy
            {
                return curr_date + "-" + curr_month + "-" + curr_year;
            }
            else if (format == 2)//yyyy-mm-dd
            {
                return curr_year + "-" + curr_month + "-" + curr_date;
            }
            else if (format == 3)//dd/mm/yyyy
            {
                return curr_date + "/" + curr_month + "/" + curr_year;
            }
            else if (format == 4)// MM/dd/yyyy HH:mm:ss
            {
                return curr_month + "/" + curr_date + "/" + curr_year + " " + curr_hr + ":" + curr_min + ":" + curr_sc;
            }
        }
    </script>

    <script type="text/javascript">

        $("#dialog").dialog({
            autoOpen: false,
            maxWidth: 500,
            maxHeight: 400,
            width: 500,
            height: 400,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            }
        });

            var batch = new Array();

            var helloApp = angular.module("JeCommAPP", []);
            helloApp.controller("JeCommController", function ($scope, $http) {

                $scope.ShowImage = function (invoiceName) {
                    document.getElementById("CertificationImage").src = "/Documents/Invoices/" + invoiceName;
                    $("#dialog").dialog("open");

                };

                $scope.contacts = [];

                $http({
                    method: 'GET',
                    url: '@Url.Action("GetPurchaseByUser")',
                    params: { purchaseType: $("#purchaseType").val() },
                }).then(function successCallback(response) {
                    $scope.contacts = response.data;
                }, function errorCallback(response) {

                });

                $scope.removeRow = function (name) {
                    var index = -1;
                    var comArr = eval($scope.contacts);
                    for (var i = 0; i < comArr.length; i++) {
                        if (comArr[i].name === name) {
                            index = i;
                            break;
                        }
                    }
                    if (index === -1) {
                        alert("Something gone wrong");
                    }
                    $scope.contacts.splice(index, 1);
                    batch.splice(index, 1);
                };



                $('#Purchase').submit(function (event) {
                    if ($('#Purchase').valid()) {
                    event.preventDefault();

                    var transaction =
                    {
                        "description": $("#description").val(),
                        "sitePurchase": $("#sitePurchase").val(),
                        "purchaseType": $("#purchaseType").val(),
                        "startPurchaseCheckPoint": $("#startPurchaseCheckPoint").val(),
                        "endPurchaseCheckPoint": $("#endPurchaseCheckPoint").val(),
                        "documentToUpload": $("#documentToUpload").val()
                    }

                    var json = JSON.stringify(transaction);

                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        url: '@Url.Action("Purchase")',
                        data: json,
                        success: function (response) {
                            if (response == true) {
                               
                                $scope.contacts = [];
                                $http({
                                    method: 'GET',
                                    url: '@Url.Action("GetPurchaseByUser")',
                                    params: { customerName: $("#purchaseType").val() },
                                }).then(function successCallback(response) {
                                    $scope.contacts = response.data;
                                }, function errorCallback(response) {

                                });


                            }
                            else {
                                if (response == false) {
                                    $("#lbError").empty();
                                    $("#lbError").append("An error ocurred, please try again.");
                                }
                                else {
                                    $("#lbError").empty();
                                    $("#lbError").append(response);
                                }
                            }
                        }
                    });
                }
            });


            });
    </script>
}
