@model IEnumerable<JneCommSitesDataLayer.T_CertificationsByUserCrew>
@using JneCommSitesManagement.Helper;

@{
    ViewBag.Title = "Home JeCommSites";
}

@{
    var queryCrewRol = Helper.GetCrewRoleByUser(User.Identity.Name);
    if (queryCrewRol != null)
    {
        if (queryCrewRol == "LEADER")
        {
            Layout = "~/Views/Shared/_LayoutCrewJneCommSites.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutJneCommSites.cshtml";
    }

}

<div class="jumbotron">
    <h1>JNE COMMUNICATIONS</h1>
</div>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Certification Name")
        </th>
        <th>
            @Html.DisplayName("Expiration Time")
        </th>
        <th>
            @Html.DisplayName("User Name")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr class="text-warning">
            <td>
                @Html.DisplayFor(modelItem => item.vCertificationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dExpirationTime)
            </td>
            <td>
                @Html.ActionLink("Edit "+ item.AspNetUsers.UserName, "../Administration/EditEmployee", new { employeeName = item.AspNetUsers.UserName })
            </td>
        </tr>
    }

</table>