<!DOCTYPE html>
<html ng-app="JeCommAPP">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-controller="JeCommController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Login", "Account")'>
                    <img src="~/Content/JNet Images/JeCommSitesLogo.png" height="50px" width="150px"/>
                </a>
               @* @Html.ActionLink("", "Account", "Login", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href='@Url.Action("CustomersIndex", "Administration")'>
                                <img src="~/Content/Jne Icons/JeCommCustomerIcon.png" />Customers</a>
                            </li>
                            <li>@Html.ActionLink("Sites", "Index", "Home")</li>
                            <li>@Html.ActionLink("Employees", "Index", "Home")</li>
                            <li>@Html.ActionLink("Mobile Module", "Index", "Home")</li>
                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analytic<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("TimeSheet", "Index", "Home")</li>
                            <li>@Html.ActionLink("Pay Roll Totales", "Index", "Home")</li>
                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maintenance<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href='@Url.Action("UsersIndex", "Maintenance")'>
                                <img src="~/Content/Jne Icons/JeCommUserIcon.png" />Web Users</a>
                            </li>
                            <li>
                                <a href='@Url.Action("RolesIndex", "Maintenance")'>
                                <img src="~/Content/Jne Icons/JeCommRolesIcon.png" />Web Roles</a>
                            </li>
                            <li>
                                <a href='@Url.Action("CertificationsList", "Maintenance")'>
                                    <img src="~/Content/Jne Icons/JeCommCertificationsIcon.png" />Certifications
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("TechEvolutionCodesList", "Maintenance")'>
                                    <img src="~/Content/Jne Icons/JeCommTechEvolutionCodesIcon.png" />Tech Evol Codes
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("CrewRolesList", "Maintenance")'>
                                    <img src="~/Content/Jne Icons/JeCommRolesIcon.png" />Crew Roles
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("Index", "Home")'>
                                    <img src="~/Content/Jne Icons/JeCommRolesIcon.png" />Payment Period
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JNet Communications</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
