@model IEnumerable<JneCommSitesDataLayer.vwUserData>
@using JneCommSitesManagement.Helper;
@{
    ViewBag.Title = "Crew Employee Index";
}

@{
    var queryCrewRol = Helper.GetCrewRoleByUser(User.Identity.Name);
    if (queryCrewRol != null)
    {
        if (queryCrewRol == "LEADER")
        {
            Layout = "~/Views/Shared/_LayoutCrewJneCommSites.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutJneCommSites.cshtml";
    }

}

<h3 class="text-info">Crew Employee List</h3>

<p>
    <a href='@Url.Action("CreateEmployee", "Administration")'>
        <img src="~/Content/Jne Icons/AddCrewEmployeeIcon.png" />  Add Crew Employee
    </a>
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("UserName")
        </th>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayName("Role Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEmployee", new {  employeeName =item.UserName  })
        </td>
    </tr>
}

</table>
