@model IEnumerable<JneCommSitesDataLayer.T_Customer>

@using JneCommSitesManagement.Helper;
@{
    ViewBag.Title = "Customer Index";
}

@{
    var queryCrewRol = Helper.GetCrewRoleByUser(User.Identity.Name);
    if (queryCrewRol != null)
    {
            Layout = "~/Views/Shared/_LayoutCrewJneCommSites.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutJneCommSites.cshtml";
    }

}

<h3 class="text-info">Customers List</h3>

<p>
    <a href='@Url.Action("CreateCustomer", "Administration")'>
        <img src="~/Content/Jne Icons/AddCustomerIcon.png" />  Add Customer
    </a>
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Customer Name")
        </th>
        <th>
            @Html.DisplayName("Customer Address")
        </th>
        <th>
            @Html.DisplayName("Customer City")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vCustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vCustomerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vCustomerCity)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCustomer", new { customerName = item.vCustomerName}) 
        </td>
    </tr>
}

</table>
