@model IEnumerable<JneCommSitesDataLayer.T_Sites>
@using JneCommSitesManagement.Helper;
@{
    ViewBag.Title = "Sites Index";
}

@{
    var queryCrewRol = Helper.GetCrewRoleByUser(User.Identity.Name);
    if (queryCrewRol != null)
    {
        if (queryCrewRol == "LEADER")
        {
            Layout = "~/Views/Shared/_LayoutCrewJneCommSites.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutJneCommSites.cshtml";
    }

}


<h3 class="text-info">Sites List</h3>

<p>
    <a href='@Url.Action("CreateSite", "Administration")'>
        <img src="~/Content/Jne Icons/AddSiteIcon.png" />  Add Site
    </a>
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Site Name")
        </th>
        <th>
            @Html.DisplayName("Site Adress")
        </th>
        <th>
            @Html.DisplayName("Tech Evolution Code")
        </th>
        <th>
            @Html.DisplayName("Customer Name")
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vSiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vTechEvolutionCodeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vCustomerName)
        </td>
        <td>
            @Html.ActionLink("Edit Site", "EditSite", new { siteName = item.vSiteName }) 
        </td>
    </tr>
}

</table>
